
.error{
  border: 2px solid rgb(229, 140, 140);
  background-color: #f3e7e7; /* optional light red background */
}

.error-message {
  color: red;
  font-size: 0.85rem;
  margin-top: 4px;
}
.searchbar{
  margin: 80px 0 20px 0;
}
